.leaderboard-page {
    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;

        th,
        td {
            padding: 1rem;
            border-bottom: 1px solid var(--orange-color);
            font-size: 1.3rem;
        }

        th {
            text-align: start;
        }
    }
}