.avatar-group {
    display: flex;
    align-items: center;
    gap: 1rem;

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

        img {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            object-fit: cover;
            border-radius: 50%;
        }
    }
}